body {
    background-image: url("https://cdn2.outdoorphotographer.com/contests/496458/Bill_Tuttle_Maroon-Bells-and-Maroon-Lake.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
   
    background-size: cover;
    text-align: center;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

.whitesmoke {
    color: whitesmoke;
}


.glass {
    /* width: 100%; */
    background-color: rgba(19, 18, 18, 0.671);
    backdrop-filter: blur(5px);   
    -webkit-backdrop-filter: blur(5px);  
    /* padding: 0 1em 0 1em; */
    /* color: whitesmoke; */
}

.ghost{
    color: transparent;
}

.center {
    text-align: center;
}

.intro {
    margin-top: 2em;
    background-color: #000;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
}

.partial-header {
    background-color: rgba(19, 18, 18, 0.671);
    backdrop-filter: blur(5px);   
    -webkit-backdrop-filter: blur(5px);  
}

.spec-text {
    font-family: 'Special Elite', cursive;
    padding: 1em;
    color: #fff;
}

.ls-25 {
    letter-spacing: 0.25rem;
}


