.question {
    border-bottom: 1px solid #f5f5f5;
}

.question .label-box,
.question .readout-box {
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}

.question .readout-box {
    font-size: 3rem;
    color: #fff;
}

.question .input-box {
    display: flex;
    flex-direction: row;
    height: 5em;
    align-items: center;
    justify-content: center;
}

.slide-text {
    /* margin: 0 0.5em; */
    color:#538D9F;
    font-size: 0.75em;
}

.slider-tick {
    display: none;
}

.slider-handle {
    background: #538D9F
}

.slider-selection {
    background: #f12323
}

.slider-selection.tick-slider-selection {
    background-image: linear-gradient(to bottom,#538D9F,#538D9F 100%);
    background-repeat: repeat-x
}

.slider-tick.in-selection {
    background-image: linear-gradient(to bottom,#538D9F,#538D9F 100%);
    background-repeat: repeat-x
}

.slider.slider-horizontal {
    width: 40rem;
}