.More {
    transition: all 0.5s ease-out;
}

.MoreOpen {
    animation: openMore 0.6s ease-out forwards;
}

.MoreClosed {
    animation: closeMore 0.6s ease-out forwards;
}

@keyframes openMore {
    0% {
        opacity: 0;
        max-height: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: .8;
        max-height: 250px;
        transform: translateY(15%);
    }
    100% {
        opacity: 1;
        max-height: 500px;
        transform: translateY(0);
    }
}

@keyframes closeMore {
    0% {
        opacity: 1;
        max-height: 500px;
        transform: translateY(0);
    }
    50% {
        opacity: .8;
        max-height: 250px;
        transform: translateY(15%);
    }
    100% {
        opacity: 0;
        max-height: 0;
        transform: translateY(-100%);
    }
}
